
html, body {
  margin: 0;
  padding: 0;
  background-color:rgb(51, 51, 51);
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
h1{
  color:rgb(255, 255, 255);
  font-family:sans-serif;
}
h1:hover{
  background-color: rgb(220);
}
h4{
  color:rgb(255, 255, 255);
  font-family:sans-serif;
}
h4:hover{
  background-color: rgb(220);
}
h8{
  color:rgb(255, 255, 255);
  font-family:sans-serif;
}
h8:hover{
  background-color: rgb(220);
}
b{
  color:rgb(191, 239, 255);
}
